<div class="contactUs">
  <div class="title">
    <h2>Entre em Contato</h2>
  </div>
  <div class="box">
    <!--form-->
    <div class="contact form">
      <h3>Nos envie uma mensagem, ou venha nos visitar que será um prazer te responder, venha conhecer nossa loja e certamente você não irá se arrepender</h3>
      <form>
        <div class="formBox">
          <div class="row50">
            <div class="inputBox">
              <span>Primeio Nome </span>
              <input type="text" placeholder="Jose">
            </div>
            <div class="inputBox">
              <span>Sobrenome</span>
              <input type="text" placeholder="Henrique">
            </div>
          </div>

          <div class="row50">
            <div class="inputBox">
              <span>Email</span>
              <input type="text" placeholder="teste@teste.com">
            </div>
            <div class="inputBox">
              <span>Celular</span>
              <input type="text" placeholder="27 9 9999999">
            </div>
          </div>
          <div class="row100">
            <div class="inputBox">
              <span>Sua mensagem</span>
              <textarea placeholder="Escreva sua mensagem"></textarea>
            </div>
          </div>
          <div class="row100">
            <div class="inputBox">
              <input type="submit" value="Enviar">
            </div>
          </div>
        </div>
      </form>
    </div>

    <!--info box -->
    <div class="contact info">
      <h3>Nossas informações</h3>
      <div class="infoBox">
        <div>
          <span><h5>Endereco</h5></span>
          <p>Rua peixerman 42 wallbiway sidney</p>
        </div>
        <div>
          <span><h5>Email</h5></span>
          <p href="mailto:Email">Aquateste@Aquateste.com</p>
        </div>
        <div>
          <span><h5>Telefone</h5></span>
          <p href="tel:Telefone">(27) 9 9999-9999</p>
        </div>
        <!-- <ul class="sci">
          <li><img class="img" src="../../assets/Icons/email.png"></li>
          <li><a href="#"><img class="img" src="../../assets/Icons/phone.png"></a></li>
         <li><a href="#"><img class="img" src="../../assets/Icons/maps.jpg"></a></li>
        </ul> -->
      </div>
    </div>
    <!--map-->
    <div class="contact map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3741.8749178790163!2d-40.30321448513603!3d-20.305443886394666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb817db9009fb3f%3A0xf0d07f582603d466!2sAquashopping!5e0!3m2!1spt-BR!2sbr!4v1656018147291!5m2!1spt-BR!2sbr"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
