<div class="container">
  <h1>Nossos Pilares</h1>
  <div class="row">
    <div class="service">
      <img class="img" src="../../assets/Icons/aquarium.png">
      <h2>Fabricação</h2>
      <p>Fabricação de Aquários</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/peixe.png">
      <h2>Fabricação</h2>
      <p>Fabricação de Beteiras</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/fabric.png">
      <h2>Fabricação</h2>
      <p>Fabricação de Sump</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/badge.png">
      <h2>Missão</h2>
      <p>Fornecer os melhores áquarios com custos reduzidos</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/tools.png">
      <h2>Controle de Qualidade</h2>
      <p>Rigoroso controle de qualidade, visando oferecer o que há de melhor</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/meio-ambiente.png">
      <h2>Meio Ambiente</h2>
      <p>Trabalhamos apenas com produtos que não agridem o Meio Ambiente</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/group-chat.png">
      <h2>Equipe</h2>
      <p>Profissionais extremamente competentes e qualificados</p>
    </div>
    <div class="service">
      <img class="img" src="../../assets/Icons/pencil.png">
      <h2>Projetos Personalizados</h2>
      <p>Elaboramos o projeto ideal com base na analise das condições</p>
    </div>
  </div>
</div>
