<h1>Nossa Loja</h1>
<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/sddefault.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Aquarios em geral</h3>
        <p>Tudo para o seu aquario</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/BIG7a7e0a9fb6e61834fabd6267ede74dd8.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Montagem de aquarios </h3>
        <p>Montagem de aquarios personalizados de todos os tamanhos, água doce e salgada</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/2021-05-16.png" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Variedade de peixes e crustáceos</h3>
        <p>Grande variedade de peixes de água doce e salgada</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/e935e3c5c9eda8874dacb107097ba81b-1110x508.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Ambiente descontraido</h3>
        <p>Ambiente amigavel para te atender da melhor forma</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/fotos_loja_005.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Grande variedade de Acessórios e alimentos</h3>
        <p>Acessorios e alimentos das melhores marcas para o seu amigo aquatico</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="imgBx">
      <img src="../../assets/Icons/aquario-plantado-1.jpg" alt="">
    </div>
    <div class="contentBx">
      <div class="content">
        <h3>Plantas e Corais</h3>
        <p>Grande variedade de Plantas de água doce, muito bem tratadas, e de corais de água salgada</p>
      </div>
    </div>
  </div>
</div>
